In [1]:
import pandas as pd

In [5]:
# df = pd.read_csv('4_c-dynamicarray.log')
df = pd.read_csv('tmp')
df

        socket        dram  gpu        core               pkg  timestamp
0            1   5888.6803  0.0  74776.3181  1614713402740727        NaN
1            2  16873.1558  0.0  55963.8690  1614713402740768        NaN
2            1   5888.6803  0.0  74776.3181  1614713402740846        NaN
3            2  16873.1558  0.0  55963.8690  1614713402740858        NaN
4            1   5888.6803  0.0  74776.3181  1614713402740923        NaN
...        ...         ...  ...         ...               ...        ...
140123       2  16912.2949  0.0  56214.4761  1614713407550751        NaN
140124       1   5914.7600  0.0  74991.1919  1614713407550814        NaN
140125       2  16912.2949  0.0  56214.4761  1614713407550827        NaN
140126       1   5914.7600  0.0  74991.1919  1614713407550890        NaN
140127       2  16912.2949  0.0  56214.4761  1614713407550903        NaN

[140128 rows x 6 columns]